/*画布容器*/
#efContainer {
    position: relative;
    overflow: scroll;
    flex: 1;
}

/*顶部工具栏*/
.ef-tooltar {
    padding-left: 10px;
    box-sizing: border-box;
    height: 42px;
    line-height: 42px;
    z-index: 3;
    border-bottom: 1px solid #DADCE0;
}

.jtk-overlay {
    cursor: pointer;
    color: #4A4A4A;
}


/*node-form*/
.ef-node-form-header {
    height: 32px;
    border-top: 1px solid #dce3e8;
    border-bottom: 1px solid #dce3e8;
    background: #F1F3F4;
    color: #000;
    line-height: 32px;
    padding-left: 12px;
    font-size: 14px;
}

.ef-node-form-body {
    margin-top: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

/* 连线中的label 样式*/
.jtk-overlay.flowLabel:not(.aLabel) {
    padding: 4px 10px;
    background-color: white;
    color: #565758 !important;
    border: 1px solid #E0E3E7;
    border-radius: 5px;
}

/* label 为空的样式 */
.emptyFlowLabel {}


.ef-dot {
    background-color: #1879FF;
    border-radius: 10px;
}

.ef-dot-hover {
    background-color: red;
}

.ef-rectangle {
    background-color: #1879FF;
}

.ef-rectangle-hover {
    background-color: red;
}

.ef-img {}

.ef-img-hover {}


.ef-drop-hover {
    border: 1px dashed #1879FF;
}